body{
    background-color:  	#282b30;
    /* border: 3px solid Red;
    border-radius: 16px; */

    }

/* h1 */

h1 {
  padding-top: 50%;
    color: white;
}

@media (min-width: 340px) {
  h1 {
    padding-top: 30%;
  }
}

@media (min-width: 544px) {
  h1 {
    padding-top: 20%;
  }
}

@media (min-width: 673px) {
  h1 {
    padding-top: 6%;
  }
}

@media (min-width: 1260px) {
  h1 {
    padding-top: 3%;
  }
}
@media (min-width: 1730px) {
  h1 {
    padding-top: 0%;
  }
}

/* Varsity */
.varsity {
  width: 800px;
  padding-left: 5%;
  padding-right: 5%;
}