body{

  /* border: 3px solid Red;
  border-radius: 16px; */
  }

h1 {
  color: white;
  padding-top:100px;
}

h2 {
  color: white;
  padding-top: 20px;
}

h3 {

  color: white;
  display: block;
  /* margin-left: 650px;
  margin-right: 10px; */
}

h4 {
  color: white;
  display: block;
  margin-left: 650px;
  margin-right: 0px;
}

img[src='https://www.divinechildhighschool.org/uploaded/themes/default_17/images/logo-high.png'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: sans-serif;
  color: white;
}

li {
  color: white;
  margin: 0px 0;
}

#dclogo{
  padding-top: 200px;
}

#team_list{
  font-size: 25px;
}

.ESA-T {
  display: none;
}

.ESA:hover + .ESA-T{
  display: block;
  color: white;
}

.RA-T{
  display: none;
}

.RA:hover + .RA-T{
  display: block;
  color: white;
}

.CA-T {
  display: none;
}

.CA:hover + .CA-T {
  display: block;
  color: white;
}

.achievements{
  list-style-type: none;
  padding-left: 0px;
}

#Awards_Recognition {
  font-size: 35px;
}


/* H1 */

/* Mobile */
h1 {
  padding-top: 25%;
}

/* Tablet */
@media (min-width:575px) {
  h1 {
      padding-top: 8%;
  }
}

/* Desktop */
@media (min-width:1000px) {
  h1 {
      padding-top: 4%;
  }
}

/* Competition */

.competition {
  font-size:3.5vh;
  color: white;
  text-align: center;
}

/* Competition-info */

.competition-info {
  text-align: center;
  font-size: 2.5vh;
  margin: 0;
}

@media (min-width:1235px) {
  .competition {
    color: white;
    margin-left: 15%;
    text-align: left;
  }
}

@media (min-width:1235px) {
  .competition-info {
    text-align: left;
    max-width: 1200px;
    font-size: 2.5vh;
    margin-left: 15%;
  }
}

/* Programming */

.programming {
  text-align: center;
  font-size:3.5vh; 
  color: white; 
}

@media (min-width: 1235px) {
  .programming {
    font-size:3.5vh; 
    color: white; 
    text-align: right; 
    margin-right: 15%;
  }
}

/* Programming-info */

.programming-info {
  padding-left: 0%;
  text-align: center;
}

@media (min-width:1235px) {
  .programming-info {
    padding-left: 25%;
    padding-right: 15%;
    text-align: right;
  }
}

/* Programming Pictures */

.programming-pictures {
  padding-bottom: 1vh;
}  

@media (min-width: 1228.5px) {
  .programming-pictures {
    padding-bottom: 0%;
    color: red;
  }  
}

/* Promo Video */

.video {
  padding: 0;
  width: 90vw;
  max-width: 1300px;
}