/* H1 */

/* Default */
h1 {
  color: white;
  padding-top: 50%;
}

/* 375 */
@media (min-width:375px) {
  h1 {
      padding-top: 26%;
  }
}

/* 710 */
@media (min-width: 571px) {
  h1 {
    padding-top: 8%;
  }
}

/* 1000 */
@media (min-width:1000px) {
  h1 {
      padding-top: 4%;
  }
}

h2 {
  color: white;
  padding-top: 20px;
}

h3 {

  color: white;
  display: block;
}

h4 {
  color: white;
  display: block;
  margin-left: 650px;
  margin-right: 0px;
}

img[src='https://www.divinechildhighschool.org/uploaded/themes/default_17/images/logo-high.png'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: sans-serif;
  color: white;
}

li {
  color: white;
  margin: 0px 0;
}

#dclogo{
  padding-top: 200px;
}

#team_list{
  font-size: 25px;
}

/* Promo Video */

.video {
  padding: 0;
  width: 90vw;
  max-width: 1300px;
}

/* Sponsors */

.sponsor {
  width: 800px;
  padding-left: 5%;
  padding-right: 5%;
}

/* Awards */

.ESA-T, .RA-T, .CA-T {
  display: none;
}

.ESA:hover + .ESA-T{
  display: block;
  color: white;
}

.RA:hover + .RA-T{
  display: block;
  color: white;
}

.CA:hover + .CA-T {
  display: block;
  color: white;
}

.ESA, .RA, .CA {
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.achievements{
  list-style-type: none;
  padding-left: 0px;
}

/* Competition */

.competition {
  color: white;
  text-align: center;
}

/* Competition-info */

.competition-info {
  text-align: left;
  font-size: 20px;
  margin-right: 10%;
  margin-left: 2%;
}

/* Programming */

.programming {
  text-align: right;
}

/* Programming-info */

.programming-info {
  text-align: right;
  margin-left: 10%;
}

/* Programming Pictures */

.programming-pictures {
  padding-bottom: 1vh;
}  
