body{
    background-color:  	#282b30;
    /* border: 3px solid Red;
    border-radius: 16px; */
}

h1{
    color: white;
    margin-top: 50px;
    font-family: sans-serif, bold;
}

h2{
    color: white;
    font-family: sans-serif, bold;
    font-size: 70px;
}

#list{
    list-style-type: none;
    padding-top: 10px;
    line-height: 2.5;
    color: white;
    font-family: sans-serif, bold;
    list-style-type: none;
    font-size: 20px;
}

/* List */

/* Mobile */
.list {
  padding-left: 2%;
}

/* Tablet */
@media (min-width:600px) {
  .list {
      padding-left: 5%;
  }
}

/* Desktop */
@media (min-width:900px) {
  .list {
      padding-left: 15%;
  }
}
#flip {
  color: white;
}

/* Matches */

/* Mobile */
h2 {
  padding-top: 30%;
}

/* Tablet */
@media (min-width:520px) {
  h2 {
      padding-top: 10%;
  }
}

/* Desktop */
@media (min-width:900px) {
  h2 {
      padding-top: 5%;
  }
}

/* Bigger Desktop */
@media (min-width:1160px){
  h2 {
    padding-top: 0%;
  }
}
