body{
    background-color:  	#282b30;
    /* border: 3px solid Red;
    border-radius: 16px; */
}

/* Matches */

/* Mobile */
h1 {
  padding-top: 50%;
  color: white;
}

/* Tablet */
@media (min-width: 376px) {
  h1 {
      padding-top: 30%;
  }
}

@media (min-width:593px) {
  h1 {
      padding-top: 20%;
  }
}

/* Desktop */
@media (min-width:657px) {
  h1 {
      padding-top: 8%;
  }
}

/* Bigger Desktop */
@media (min-width:1229px){
  h1 {
    padding-top: 0%;
  }
}

h2 {
  color: white;
}

#flip {
  color: white;
}


#list{
    list-style-type: none;
    padding-top: 10px;
    line-height: 2.5;
    color: white;
    font-family: sans-serif, bold;
    list-style-type: none;
    font-size: 20px;
}

/* List */

/* Mobile */
.list {
  padding-left: 2%;
}

/* Tablet */
@media (min-width:600px) {
  .list {
      padding-left: 5%;
  }
}

/* Desktop */
@media (min-width:900px) {
  .list {
      padding-left: 15%;
  }
}