body{
background-color:  	#282b30;
/* border: 2px solid Red;
border-radius: 16px; */
}

h1 {
	color: white;
  padding-top:100px;
}
/* Schedule */
/* Mobile */
.Schedule {
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 2%;
}

/* Tablet */
@media (min-width:600px) {
  .Schedule {
      padding: 0%;
      padding-top: 2%;
  }
}

/* Desktop */
@media (min-width:1000px) {
  .Schedule {
      padding: 0%;
      padding-top: 2%;
  }
}

/* H1 */
/* Mobile */
h1 {
  padding-top: 100px;
}

/* Tablet */
@media (min-width:687px) {
  h1 {
      padding-top: 50px;
  }
}

/* Desktop */
@media (min-width:1000px) {
  h1{
      padding-top: 4%;
  }
}

/* Bigger Desktop */
@media (min-width: 1782px) {
  h1{
      padding-top: 0%;
  }  
}


.calender {
  width: 100vw;
  height: calc(100vw * 0.95);
}

@media (min-width:800px) {
  .calender {
    width: 800px;
    height: calc(800px * 0.95);
  }
}

