h1 {
	color: white;
  padding-top:100px;
}

/* Schedule */
.Schedule {
  padding-top: 2%;
}

/* H1 */
/* Mobile */
h1 {
  padding-top: 100px;
}

@media (min-width: 300px) {
  h1 {
    padding-top: 46%;
  }
}

/* Tablet */
@media (min-width:349px) {
  h1 {
      padding-top: 32%;
  }
}

/* Desktop */
@media (min-width:552px) {
  h1{
      padding-top: 10%;
  }
}

@media (min-width: 1367px) {
  h1 {
    padding-top: 4%;
  }
}

.calender {
  width: 100vw;
  height: calc(100vw * 0.95);
  max-width: 800px;
  max-height: calc(800px * 0.95);
}