p{
    color: white;
    
}

/* Mobile */
h1 {
  padding-top: 50%;
  color: white;
}

/* Tablet */
@media (min-width: 376px) {
  h1 {
      padding-top: 30%;
  }
}

@media (min-width:593px) {
  h1 {
      padding-top: 20%;
  }
}

/* Desktop */
@media (min-width:657px) {
  h1 {
      padding-top: 8%;
  }
}

/* Bigger Desktop */
@media (min-width:1828px){
  h1 {
    padding-top: 0%;
  }
}

li {
  list-style-type: none;
  padding: none;
  margin: none;
}

#rumble_vvo0zb {
    width: 1080px;
    object-position: center;
    padding-bottom: 50px;
}

h2{
  color: white;
}

.p {
  aspect-ratio: 9/16;
  height: calc(70vh);
}

.l {
  aspect-ratio: 16/9;
  width:calc(70vw);
}

/* H2 */

/* Mobile */
h2 {
  padding-top: 20%;
}

/* Tablet */
@media (min-width:495px) {
  h2 {
      padding-top: 10%;
  }
}

/* Desktop */
@media (min-width:900px) {
  h2 {
      padding-top: 5%;
  }
}

/* Bigger Desktop */
@media (min-width:1160px){
  h2 {
    padding-top: 3%;
  }
}

/* Quite Large Display */
@media (min-width: 1550px){
  h2 {
    padding-top: 0%;
  }
}
