body{
    background-color:  	#282b30;
    /* border: 3px solid Red;
    border-radius: 16px; */
}

p{
    color: white;
    
}

h1{
    color: white;

}

li {
  list-style-type: none;
  padding: none;
  margin: none;
}

#rumble_vvo0zb {
    width: 1080px;
    object-position: center;
    padding-bottom: 50px;
}

h2{
  margin-top: 60;
  color: white;
}

.p {
  aspect-ratio: 9/16;
  height: calc(70vh);
}

.l {
  aspect-ratio: 16/9;
  width:calc(70vw);
}

/* H1 */

/* Mobile */
h2 {
  padding-top: 20%;
}

/* Tablet */
@media (min-width:495px) {
  h2 {
      padding-top: 10%;
  }
}

/* Desktop */
@media (min-width:900px) {
  h2 {
      padding-top: 5%;
  }
}

/* Bigger Desktop */
@media (min-width:1160px){
  h2 {
    padding-top: 3%;
  }
}

/* Quite Large Display */
@media (min-width: 1550px){
  h2 {
    padding-top: 0%;
  }
}
